<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Team-blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="card">
  <div class="card__imgframe"></div>
  <div class="card__textbox">
    <div class="card__titletext">
      タイトルがはいる。
    </div>
    <div class="card__overviewtext">
      概要がはいる。
    </div>
    <div class="button">
      <button onclick="location.href='https://tabelog.com/saitama/A1101/A110101/11024178/'">サイトに移行</button>
    </div>
  </div>
</div>
</body>