.card_imgframe{


}
  

.card{
  width: 400px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #517ea0;
  box-shadow: 0 4px 15px #000000(0,0,0,.2)
}

.card_textbox{
  width: 100%;
  padding: 10px 5px;
  background-color: #95df82;
  box-sizing: border-box;
}

p{
  color:#000000;
}
  
h1{
  color:#000000;
}